# Environment variables for PostgreSQL database configuration
POSTGRES_DB=db-name
POSTGRES_USER=db-user
POSTGRES_USER_PASSWORD=db-password

KC_DB_NAME=keycloak_db

# Environment variables for application configuration
IMAGE=image-name:latest