on:
  push:
    branches:
      - main
jobs:
  docker-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./deploy/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_REGISTRY_USERNAME }}/household-inventory:${{ github.sha }}
            ${{ secrets.DOCKER_REGISTRY_USERNAME }}/household-inventory:latest
          platforms: linux/amd64,linux/arm64
        env:
          DOCKER_REGISTRY_USERNAME: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          DOCKER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
  deploy:
    needs: docker-publish
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.DEPLOY_SERVER_HOST }}
          username: ${{ secrets.DEPLOY_SERVER_USERNAME }}
          key: ${{ secrets.DEPLOY_SERVER_SSH_KEY }}
          port: ${{ secrets.DEPLOY_SERVER_SSH_PORT }}
          script: |
            cd /opt/app
            export IMAGE=${{ secrets.DOCKER_REGISTRY_USERNAME }}/household-inventory:${{ github.sha }}
            docker compose -f docker-compose.yml pull app
            docker compose -f docker-compose.yml up -d --no-deps --wait app